

<div class="card">
    <div class="card-body">
      <button *ngIf="isAuthenticaded" (click) = "openAddSkill()"type="button" class="btn btn-primary px-3">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button>
      <br>
      <br>
      <h5>Skills & endorsements</h5>

      <div class="list-group">
        <a   *ngFor="let skill of skills" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ skill.name }}</h5>
            <small>
              &nbsp;
              &nbsp;
              <button *ngIf="isAuthenticaded" (click)="deleteSkill(skill._id)"  type="button" class="btn btn-danger px-3">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </small>
          </div>
          <br>
          <div class="mb-1">
            <p><ngb-progressbar [showValue]="true" type="info" [value]="skill.percentual"></ngb-progressbar></p>
          </div>
          <small>
          </small>
         
        </a>
       
      </div>
    </div>
</div>