<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Lonkedin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" aria-current="page">Home</a>
          </li>
        </ul>
        <div class="d-flex text-white">
         
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-secondary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
                    <i class="fa fa-user-circle" aria-hidden="true">
                        {{email}}
                    </i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button (click)="logOut()" ngbDropdownItem>LogOut</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </nav>