
 <div class="container-fluid">
    <div *ngIf="!loadIntro" class="spinner-border" role="status">
      <span class="visually-hidden text-dark">Loading...</span>
    </div>
    <app-intro *ngIf="loadIntro"></app-intro>
  </div>
  <br>
  <div class="container-fluid">
    <div *ngIf="!loadExperience" class="spinner-border" role="status">
      <span class="visually-hidden text-dark">Loading...</span>
    </div>
    <app-experience *ngIf="loadExperience" ></app-experience>
  </div>
  <br>
  <div class="container-fluid">
    <div *ngIf="!loadEducation" class="spinner-border" role="status">
      <span class="visually-hidden text-dark">Loading...</span>
    </div>
    <app-education *ngIf="loadEducation" ></app-education>
  </div>
  <br>
  <div class="container-fluid">
    <div *ngIf="!loadSkills" class="spinner-border" role="status">
      <span class="visually-hidden text-dark">Loading...</span>
    </div>
    <app-skill *ngIf="loadSkills" ></app-skill>
  </div>